; ==========================================
; SimForager Configuration Template
; ==========================================

; ===============================
; Grid / Model Dimensions
; ===============================

dim = 10000 10000 1
ecosystem-dim = 10000 10000 1

timesteps = 10000

infection-coords = random:10000
substrate-bitmap = <SUBSTRATE_BITMAP>

initial-infection = 1000

incubation-period = 0
apoptosis-period = 1000000
expressing-period = 1000000

infectivity = 0.9
infectivity-multiplier = 1.0

floating_algae-production = 1.1
floating_algae-production-multiplier = 1.0
floating_algae-clearance = 0.0
floating_algae-diffusion = 0.0

chemokine-production = 0.0
chemokine-decay = 0.0
chemokine-diffusion = 1.0
min-chemokine = 0.0

antibody-factor = 1
antibody-period = 1000000

; ===============================
; Fish Generation
; ===============================

fish-generation-rate = 10
fish-initial-delay = 0
fish-vascular-period = 2
fish-reef-period = 1000000
fish-binding-period = 2
max-binding-prob = 1

seed = 29

sample-period = 1000
sample-resolution = 1
max-block-dim = 64

output = results

; ===============================
; Population Controls
; ===============================

num-fish = 51200
predator-ratio = 0

predator-detect-grazer-radius = 15
grazer-detect-predator-radius = 50

algae-initial-count = 100.0
algae-decomp-rate-from-grazing = 1.0

log_grazer_tracks = 0
log_population_stat = 0
log_fish_diagnostics = 0

; ===============================
; Social Movement Model
; ===============================

; TODO 
;social-strength_below_preferred = <SOCIAL_STRENGTH>
;social-strength_above_preferred = <SOCIAL_STRENGTH>
social-strength = <SOCIAL_STRENGTH>>

social-density-radius = <SOCIAL_DENSITY_RADIUS>
social-density-preferred = <SOCIAL_DENSITY_PREFERRED>
social-density-low-width = <SOCIAL_DENSITY_LOW_WIDTH>
social-density-high-width = <SOCIAL_DENSITY_HIGH_WIDTH>

kappa_social_low_density_coral_w_algae        = <KAPPA_SOCIAL_LOW_DENSITY_CORAL_W_ALGAE>
kappa_social_preferred_density_coral_w_algae  = <KAPPA_SOCIAL_PREFERRED_DENSITY_CORAL_W_ALGAE>
kappa_social_high_density_coral_w_algae       = <KAPPA_SOCIAL_HIGH_DENSITY_CORAL_W_ALGAE>

kappa_social_low_density_coral_no_algae       = <KAPPA_SOCIAL_LOW_DENSITY_CORAL_NO_ALGAE>
kappa_social_preferred_density_coral_no_algae = <KAPPA_SOCIAL_PREFERRED_DENSITY_CORAL_NO_ALGAE>
kappa_social_high_density_coral_no_algae      = <KAPPA_SOCIAL_HIGH_DENSITY_CORAL_NO_ALGAE>

kappa_social_low_density_sand_w_algae         = <KAPPA_SOCIAL_LOW_DENSITY_SAND_W_ALGAE>
kappa_social_preferred_density_sand_w_algae   = <KAPPA_SOCIAL_PREFERRED_DENSITY_SAND_W_ALGAE>
kappa_social_high_density_sand_w_algae        = <KAPPA_SOCIAL_HIGH_DENSITY_SAND_W_ALGAE>

kappa_social_low_density_sand_no_algae        = <KAPPA_SOCIAL_LOW_DENSITY_SAND_NO_ALGAE>
kappa_social_preferred_density_sand_no_algae  = <KAPPA_SOCIAL_PREFERRED_DENSITY_SAND_NO_ALGAE>
kappa_social_high_density_sand_no_algae       = <KAPPA_SOCIAL_HIGH_DENSITY_SAND_NO_ALGAE>

step_len_social_low_density_coral_w_algae        = <STEP_LEN_SOCIAL_LOW_DENSITY_CORAL_W_ALGAE>
step_len_social_preferred_density_coral_w_algae  = <STEP_LEN_SOCIAL_PREFERRED_DENSITY_CORAL_W_ALGAE>
step_len_social_high_density_coral_w_algae       = <STEP_LEN_SOCIAL_HIGH_DENSITY_CORAL_W_ALGAE>

step_len_social_low_density_coral_no_algae       = <STEP_LEN_SOCIAL_LOW_DENSITY_CORAL_NO_ALGAE>
step_len_social_preferred_density_coral_no_algae = <STEP_LEN_SOCIAL_PREFERRED_DENSITY_CORAL_NO_ALGAE>
step_len_social_high_density_coral_no_algae      = <STEP_LEN_SOCIAL_HIGH_DENSITY_CORAL_NO_ALGAE>

step_len_social_low_density_sand_w_algae         = <STEP_LEN_SOCIAL_LOW_DENSITY_SAND_W_ALGAE>
step_len_social_preferred_density_sand_w_algae   = <STEP_LEN_SOCIAL_PREFERRED_DENSITY_SAND_W_ALGAE>
step_len_social_high_density_sand_w_algae        = <STEP_LEN_SOCIAL_HIGH_DENSITY_SAND_W_ALGAE>

step_len_social_low_density_sand_no_algae        = <STEP_LEN_SOCIAL_LOW_DENSITY_SAND_NO_ALGAE>
step_len_social_preferred_density_sand_no_algae  = <STEP_LEN_SOCIAL_PREFERRED_DENSITY_SAND_NO_ALGAE>
step_len_social_high_density_sand_no_algae       = <STEP_LEN_SOCIAL_HIGH_DENSITY_SAND_NO_ALGAE>