; These are version 2.0 'null' simforager parameters
; A combination parameter and slight code changes to make a null version of simforager 

; Dimensions: x y z (assuming grid spacing of 5 microns)
dim =                         5000 5000 1
; dim =                         1250 1250 1

; Whole lung dimensions: x y z (assuming grid spacing of 5 microns)
ecosystem-dim =              5000 5000 1
;ecosystem-dim =              1250 1250 1

; Number of timesteps (assuming 1 min per timestep)
; Set to arbitrary small number to start
timesteps =                   10000
; >> one day

; Location of initial infections (omit for no infections); can be:
;  list of space-separated coords x,y,z,timestep
;  uniform:N (where N is an int, for N uniformly distributed starting points at time 0)
;  random:N (where N is an int, for N randomly distributed starting points at time 0)
infection-coords =            random:10000
; >> this is .001% of total grid cells

; Substrate bitmap
;substrate-bitmap = /users/htasnim/simreef/simforager/substrates/reef_square.bmp
; substrate-bitmap = /carc/scratch/projects/melaniem/melaniem2016345/reef_substrates/generated/bmps/spa_400_a0.60_s6.0_m08000_w44.bmp
substrate-bitmap = <SUBSTRATE_FILE_PATH>

; Number of floating_algaes at initial infection locations
; Chosen to guarantee that at least one cell is infected at the start - see infectivity
initial-infection =           1000
; >> initially 1000 combined with number of initial infection sites, this should yield a 1:100 ratio of grid cells to algae cells

; Average number of time steps to expressing floating_algaes after cell is infected
incubation-period =           0

; Average number of time steps to death after apoptosis is induced
apoptosis-period =            1000000

; Average number of time steps to death after a cell starts expresssing
expressing-period =           1000000

; Factor multiplied by number of floating_algaes to determine probability of infection
infectivity =                 0.9
; Julie cranked this up on 02-29

; Multiplier reducing infectivity where inflammatory signal is present
; (the multiplier reducing infectivity should be between 0.9 and 0.7 based on values
; in literature demonstrating a reduction of cell death in vitro with IFN)
infectivity-multiplier =      1.0
; >> irrelevant

; Number of floating_algaes produced by expressing cell each time step
floating_algae-production =           1.1
; this is SIMCoV default we're going with for now...

; Multiplier reducing floating_algae production rate where inflammatory signal is present
; (the reduction should be represented by a multiplier betweeon 0.05 and 0.15)
floating_algae-production-multiplier = 1.0

; Fraction by which floating_algae count drops each time step
floating_algae-clearance =            0.0
; >> effectively algae death rate; not considered here

; Fraction of floating_algaes that diffuse into all neighbors each time step
floating_algae-diffusion =            0.0

; Amount of chemokine produced by expressing cells each time step
chemokine-production =        0.0

; Amount by which chemokine concentration drops each time step
chemokine-decay =             0.0

; Fraction of chemokine concentration that diffuses into all neighbors each time step
chemokine-diffusion =         1.0

; Minimum chemokine concentration that triggers a T cell
min-chemokine =               0.0
; >> this should allow fish (T-cells) to be present at start

; Impact of antibodies; multiplier for floating_algae decay (setting to 1 means this has no effect)
antibody-factor =             1

; Number of time steps before antibodies start to be produced
antibody-period =             1000000
; >> WHAT!? NOBODY INVITED ANTIBODIES TO A REEF

; Number of fishs generated at each timestep for the ecosystem
; This is scaled up 5000x from the mouse model (20 per minute)
fish-generation-rate =       10
; >> for a stable population of fish (T-cells) throughout sim

; Number of time steps before T cells start to be produced
fish-initial-delay =         0

; Average number of time steps to death for a T cell in the vasculature
fish-vascular-period =       2

; Average number of time steps to fish leaving after a fish enters the reef
fish-reef-period =         1000000

; Number of time steps a T cell is bound to an epithelial cell when inducing apoptosis
fish-binding-period =        2

; Max probability of a T cell binding to an infected cell in one time step
max-binding-prob =            1

; T cells in reef follow the chemokine gradient
fishs-follow-gradient =      false

; Random seed
; Seed it set using the time in the code now
seed =                        29

; Number of timesteps between samples (set to 0 to disable sampling)
sample-period =               100

; Resolution for sampling
sample-resolution =           1

; Max. block dimension - larger means more locality but worse load balance. Set to 0 for largest possible.
max-block-dim =               10

; Output directory (automatically generated)
output =                   results

; Output directory (automatically generated)
output =                   results

; kappa

kappa_grazer_w_predator_coral_w_algae =                      0
kappa_grazer_w_predator_coral_no_algae =                     0
kappa_grazer_w_predator_sand_w_algae =                       0
kappa_grazer_w_predator_sand_no_algae =                      0



; kappa brave
;kappa_grazer_wo_predator_coral_w_algae =                     2
;kappa_grazer_wo_predator_coral_no_algae =                    64
;kappa_grazer_wo_predator_sand_w_algae =                      8
;kappa_grazer_wo_predator_sand_no_algae =                     128

; velocity brave
;step_length_grazer_wo_predator_coral_w_algae =                     1
;step_length_grazer_wo_predator_coral_no_algae =                    32
;step_length_grazer_wo_predator_sand_w_algae =                      4
;step_length_grazer_wo_predator_sand_no_algae =                     64


; kappa scaredy
kappa_grazer_wo_predator_coral_w_algae =                     2
kappa_grazer_wo_predator_coral_no_algae =                    8
kappa_grazer_wo_predator_sand_w_algae =                      64
kappa_grazer_wo_predator_sand_no_algae =                     128

; velocity scaredy
step_length_grazer_wo_predator_coral_w_algae =                     1
step_length_grazer_wo_predator_coral_no_algae =                    4
step_length_grazer_wo_predator_sand_w_algae =                      32
step_length_grazer_wo_predator_sand_no_algae =                     64

kappa_predator_w_grazer_coral_w_algae=                      0
kappa_predator_w_grazer_coral_no_algae =                    0
kappa_predator_w_grazer_sand_w_algae =                      0
kappa_predator_w_grazer_sand_no_algae =                     0

kappa_predator_wo_grazer_coral_w_algae =                    0
kappa_predator_wo_grazer_coral_no_algae =                   0
kappa_predator_wo_grazer_sand_w_algae =                     0
kappa_predator_wo_grazer_sand_no_algae =                    0


; Number of fish
num-fish =                    128000

; E.g a value of 100 means one in a hundred of the fish is a predator
predator-ratio = 	     0

predator-detect-grazer-radius = 15
grazer-detect-predator-radius = 50

;Amount of attached algae to seed on every ALGAE grid point
algae-initial-count = 100.0

;Grazer consumption from the current cell per timestep
algae-decomp-rate-from-grazing = 1.0

;Log the grazers' path for tracking: 0 = no , 1 = yes
log_grazer_tracks = 0

;Log the grazer population statistics at the end : 0 = no , 1 = yes
log_population_stat = 1

; ===============================
; Social movement model 
; ===============================

; Radius (Chebyshev) for fish density calculation
social-density-radius = 5

; Values to define the social influence sigmoid 
social-density-radius = 50
social-sigmoid-midpoint = 0.5
social-sigmoid-steepness = 10


; Kappa bounds for social modulation
kappa-social-min = 8.0
kappa-social-max = 64.0

; Values not subject to social influence
kappa-sand-no-algae = 128.0
kappa-coral-with-algae = 2.0



; This is the social modulator. 0 is no socal influence (toggle off), 1 is full social influence (toggle on)
; Rational values on the interval [0, 1] are accepted
social-strength = 0




